<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/frame.css" />
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/Table.css" />

		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<title>ff_project</title>
	</head>
	<body>
		<!-- <header>FF project<br /></header> -->
		<div class="container flexbox-container">
			<aside>
				<div class="title">FF<br />project</div>
				<i class="fas fa-key fa-lg"></i>
				<!-- <div class="col-3"> -->
				<div
					class="nav flex-column nav-pills"
					id="v-pills-tab"
					role="tablist"
					aria-orientation="vertical"
				>
					<nav class="nav flex-column">
						<button
							type="button"
							class="menu_button"
							id="v-pills-user-tab"
							data-toggle="pill"
							role="tab"
							aria-controls="v-pills-user"
							aria-selected="false"
							onclick="location.href='profile.html'"
						>
							<img src="IMG_9911.jpeg" class="profile_image" />
							<center class="button-title">Username</center>
						</button>
						<button
							type="button"
							class="menu_button"
							id="v-pills-home-tab"
							data-toggle="pill"
							role="tab"
							aria-controls="v-pills-home"
							aria-selected="false"
							onclick="location.href='home.html'"
						>
							<i class="fas fa-home fa-lg"></i>
							<center class="button-title">Home</center>
						</button>
						<button
							type="button"
							class="menu_button"
							id="v-pills-profile-tab"
							data-toggle="pill"
							href="#v-pills-profile"
							role="tab"
							aria-controls="vse-pills-profile"
							aria-selected="false"
							onclick="location.href='account.html'"
						>
							<center class="button-title">Account</center>
							<i class="fas fa-cog fa-lg"></i>
						</button>
						<button
							type="button"
							class="menu_button"
							class="nav-link"
							id="v-pills-messages-tab"
							data-toggle="pill"
							href="#v-pills-messages"
							role="tab"
							aria-controls="v-pills-messages"
							aria-selected="false"
							onclick="location.href='newpost.html'"
						>
							<center class="button-title">New post</center>
							<i class="fas fa-paper-plane fa-lg"></i>
						</button>
						<button
							type="button"
							class="menu_button"
							class="nav-link"
							id="v-pills-settings-tab"
							data-toggle="pill"
							href="#v-pills-settings"
							role="tab"
							aria-controls="v-pills-settings"
							aria-selected="false"
							onclick="location.href='top.html'"
						>
							<center class="button-title">Logout</center>
							<i class="fas fa-sign-out-alt fa-lg"></i>
						</button>
					</nav>
				</div>
				<!-- </div> -->
			</aside>

			<main>
				<div class="all">
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="list0">
						<div class="list1">
							<div class="trim-image-to-circle"></div>
							<!--<img class="picture" src="OzawaShota.jpg" alt="user's photo" title="user">-->
							<div class="list_name">username</div>
						</div>
						<div class="list2">
							<div class="overflow">
								<a
									class="button_message"
									onclick="location.href='talks.html'"
									href="#"
								>
									Messageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
								</a>
							</div>
							<div class="list3">
								<div class="spantime_frame">
									<span class="span_time">Left:1d.15h.6m</span>
								</div>
								<div class="lovebutton_frame">
									<button class="button_love">
										<i class="fas fa-heart"></i>
									</button>
								</div>
								<div class="byebutton_frame">
									<button
										class="button_bye"
										onclick="location.href='report.html'"
									>
										<i class="fas fa-exclamation-triangle"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script
				src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
				crossorigin="anonymous"
			></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
				integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
				crossorigin="anonymous"
			></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
				integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
				crossorigin="anonymous"
			></script>
		</div>
	</body>
</html>
