{% extends "base.html" %}
{% block content %}
<p>トーク作成</p>
<table class="table">
    <tbody>
        <p>
        <form method="POST" onsubmit="return false;" wrap="soft">
            {% csrf_token %}
            {{ form.id.as_hidden }}
            {{ form.sending_user.as_hidden }}
            {{ form.content }}
            <div class="btn_inner">
                <input type="button" value="送信" onclick="submit();">
            </div>
        </form>
        </p>
    </tbody>
</table>
{% endblock %}