{% extends 'base.html' %}

{% load tag_library %}

{% block content %}

    <main class="main1">
        <!-- お気に入りした非activeなトークの一覧 -->
        {% if talk_is_dead %}
        <details open>
        {% else %}
        <details>
        {% endif %}
            <summary>Favorite past chats : {{talk_count}} </summary>
            {% for talk in favorite_dead_talks %}
            <div class="TalkList_inTalkDetail_frame_table">
                {% check_is_detail talk detail_talk_id as is_detail %}
                <div class="TalkList_inTalkDetail_read_lamp {{is_detail}} "></div>
                <div class="TalkList_inTalkDetail_frame_outline0 {{is_detail}}">
                    <div class="TalkList_inTalkDetail_frame_outline1">
                        {% get_talk_partner user talk as talk_partner %}
                        <img src="{{talk_partner.user_info.profile_image.url}}" class="TalkList_inTalkDetail_you_image" />
                        <div class="TalkList_inTalkDetail_list_name">    
                            {{talk_partner}}
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline2">
                        <div class="TalkList_inTalkDetail_overflow">
                            {% if talk.exist_reply == True %}
                            <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                                {% get_newest_message talk.id %}
                            </a>
                            {% else %}
                                {% get_newest_message talk.id %}
                            {% endif %}
                        </div>
                        <div class="TalkList_inTalkDetail_table_lefttime">
                            <span class="TalkList_inTalkDetail_span_time">Times up. Please confirm message</span>
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline3">
                        <table>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="TalkList_inTalkDetail_table_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="{% url 'users:report' talk_id=talk.id %}">Report</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    <!--返信があればいいねボタンを表示-->
                                    {% if talk.exist_reply == True %}
                                        {% favorite_check user talk as exist_favorite %}
                                        {% if exist_favorite %}
                                            <button type="button" class="TalkList_inTalkDetail_button_love" id="btnGroupDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <p>If you remove favorite,this talk will disappear.</p>
                                                <p>Do you remove favorite?</p>
                                                <div class="TalkList_inTalkDetail_table_remove_favorite_frame">
                                                    <a class="TalkList_inTalkDetail_table_remove_favorite" href="{% url 'postapp:talk_favorite_delete' talk_id=talk.id %}" >YES</a>
                                                </div>
                                            </div>
                                        {% else %}
                                        <button class="TalkList_inTalkDetail_button_love2">
                                            <a href="{% url 'postapp:talk_favorite_add' talk_id=talk.id %}"
                                                class="fas fa-heart"></a>
                                        </button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </details>

        <!-- その他トークの一覧 -->
        <div class="TalkList_inTalkDetail_table_frame_all">
            <!-- 未確認の非activeなトークの表示 -->
            {% for talk in unchecked_dead_talks %}
            <div class="TalkList_inTalkDetail_frame_table">
                {% check_is_detail talk detail_talk_id as is_detail %}
                <div class="TalkList_inTalkDetail_read_lamp {{is_detail}}"></div>
                <div class="TalkList_inTalkDetail_frame_outline0 {{is_detail}}">
                    <div class="TalkList_inTalkDetail_frame_outline1">
                        {% get_talk_partner user talk as talk_partner %}
                        <img src="{{talk_partner.user_info.profile_image.url}}" class="TalkList_inTalkDetail_you_image" />
                        <div class="TalkList_inTalkDetail_list_name">
                            {{ talk_partner }}
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline2">
                        <div class="TalkList_inTalkDetail_overflow">
                            {% if talk.exist_reply == True %}
                            <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                                {% get_newest_message talk.id %}
                            </a>
                            {% else %}
                                {% get_newest_message talk.id %}
                            {% endif %}
                        </div>
                        <div class="TalkList_inTalkDetail_table_lefttime">
                            <span class="TalkList_inTalkDetail_span_time">Times up. Please confirm message</span>
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline3">
                        <table>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="TalkList_inTalkDetail_table_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{% url 'users:report' talk_id=talk.id %}">Report</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    <!--返信があればいいねボタンを表示-->
                                    {% if talk.exist_reply == True %}
                                        {% favorite_check user talk as exist_favorite %}
                                        {% if exist_favorite %}
                                            <button type="button" class="TalkList_inTalkDetail_button_love" id="btnGroupDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <p>If you remove favorite,this talk will disappear.</p>
                                                <p>Do you remove favorite?</p>
                                                <div class="TalkList_inTalkDetail_table_remove_favorite_frame">
                                                    <a class="TalkList_inTalkDetail_table_remove_favorite" href="{% url 'postapp:talk_favorite_delete' talk_id=talk.id %}" >YES</a>
                                                </div>
                                            </div>
                                        {% else %}
                                        <button class="TalkList_inTalkDetail_button_love2">
                                            <a href="{% url 'postapp:talk_favorite_add' talk_id=talk.id %}"
                                                class="fas fa-heart"></a>
                                        </button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
                <!-- 未読トークの表示 -->
            {% for talk in unread_talks %}
            <div class="TalkList_inTalkDetail_frame_table">
                {% check_is_detail talk detail_talk_id as is_detail %}
                    <div class="TalkList_inTalkDetail_unread_lamp {{is_detail}}"></div>
                    <div class="TalkList_inTalkDetail_frame_outline0 {{is_detail}}">
                        <div class="TalkList_inTalkDetail_frame_outline1">
                            {% get_talk_partner user talk as talk_partner %}
                            <img src="{{talk_partner.user_info.profile_image.url}}" class="TalkList_inTalkDetail_you_image" />
                            <div class="TalkList_inTalkDetail_list_name">
                                {{ talk_partner }}
                            </div>
                        </div>
                        <div class="TalkList_inTalkDetail_frame_outline2">
                            <div class="TalkList_inTalkDetail_overflow">
                                <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                                    {% get_newest_message talk.id %}
                                </a>
                            </div>
                            <div class="TalkList_inTalkDetail_table_lefttime">
                                <div class="TalkList_inTalkDetail_span_time">
                                    {% integer_to_string talk.id as str_talk_id %}
                                    <p class="TalkList_inTalkDetail_time" id={{str_talk_id}}></p>
                                    <input class="lefttime" type="hidden" id={{str_talk_id}}
                                        value={{talk.created_at|date:"Y-m-d_H:i:sO"}}>
                                </div>
                            </div>
                        </div>
                        <div class="TalkList_inTalkDetail_frame_outline3">
                            <table>
                                <tr>
                                    <td class="TalkList_inTalkDetail_td2">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="TalkList_inTalkDetail_table_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" href="{% url 'users:report' talk_id=talk.id %}">Report</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="TalkList_inTalkDetail_td2">
                                        {% if talk.exist_reply == True %}
                                            {% favorite_check user talk as exist_favorite %}
                                            {% if exist_favorite %}
                                                <button class="TalkList_inTalkDetail_button_love">
                                                    <a href="{% url 'postapp:talk_favorite_delete' talk_id=talk.id %}" class="fas fa-heart"></a>
                                                </button>
                                            {% else %}
                                            <button class="TalkList_inTalkDetail_button_love2">
                                                <a href="{% url 'postapp:talk_favorite_add' talk_id=talk.id %}"
                                                    class="fas fa-heart"></a>
                                            </button>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
            {% endfor %}
            <!-- 既読トークの表示 -->
            {% for talk in read_talks %}
            <div class="TalkList_inTalkDetail_frame_table">
                {% check_is_detail talk detail_talk_id as is_detail %}
                <div class="TalkList_inTalkDetail_read_lamp {{is_detail}}"></div>
                <div class="TalkList_inTalkDetail_frame_outline0 {{is_detail}}">
                    <div class="TalkList_inTalkDetail_frame_outline1">
                        {% get_talk_partner user talk as talk_partner %}
                        <img src="{{talk_partner.user_info.profile_image.url}}" class="TalkList_inTalkDetail_you_image" />
                        <div class="TalkList_inTalkDetail_list_name">    
                            {{ talk_partner }}
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline2">
                        <div class="TalkList_inTalkDetail_overflow">
                            {% if talk.sending_user == user %}
                                {% if talk.exist_reply == True %}
                                <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                                    {% get_newest_message talk.id %}
                                </a>
                                {% else %}
                                    {% get_newest_message talk.id %}
                                {% endif %}
                            {% else %}
                                <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                                {% get_newest_message talk.id %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="TalkList_inTalkDetail_table_lefttime">
                            <div class="TalkList_inTalkDetail_span_time">
                                {% integer_to_string talk.id as str_talk_id %}
                                <p class="TalkList_inTalkDetail_time" id={{str_talk_id}}></p>
                                <input class="lefttime" type="hidden" id={{str_talk_id}}
                                    value={{talk.created_at|date:"Y-m-d_H:i:sO"}}>
                            </div>
                        </div>
                    </div>
                    <div class="TalkList_inTalkDetail_frame_outline3">
                        <table>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="TalkList_inTalkDetail_table_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{% url 'users:report' talk_id=talk.id %}">report</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="TalkList_inTalkDetail_td2">
                                    {% if talk.exist_reply == True %}
                                        {% favorite_check user talk as exist_favorite %}
                                        {% if exist_favorite %}
                                            <button class="TalkList_inTalkDetail_button_love">
                                                <a href="{% url 'postapp:talk_favorite_delete' talk_id=talk.id %}" class="fas fa-heart"></a>
                                            </button>
                                        {% else %}
                                        <button class="TalkList_inTalkDetail_button_love2">
                                            <a href="{% url 'postapp:talk_favorite_add' talk_id=talk.id %}"
                                                class="fas fa-heart"></a>
                                        </button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <main class="main2">
            <div class="chat_frame_outline">
                <div class="chat_frame_outline2">
                    {% for message in messages %}
                        {% if message.is_date == True %}
                            <div class="chat_form_data">{{message.created_at|date:"Y-m-d"}}</div>

                    {% else %}
                        {% if message.sending_user_id != user.id %}
                            <div class="chat_frame_outline3">
                                <div class='chat_frame_image'>
                                    <img src="{{message.sending_user.user_info.profile_image.url}}"  class="chat_image_rounded">
                                    <div class="chart_text_talk-limit">{{message.created_at|date:"H:i"}}</div>   
                                </div>
                                <div class="chat_frame_talk_partner">
                                    <p class="chat_text_talk">{{message.content}}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="chat_frame_outline4">
                                <div class="chat_frame_talk_me">
                                    <p class="chat_text_talk">{{message.content}}</p>    
                                </div>
                                <div class='chat_frame_image'>
                                    <img src="{{message.sending_user.user_info.profile_image.url}}" class="chat_image_rounded">
                                    <div class="chart_text_talk-limit">{{message.created_at|date:"H:i"}}</div>   
                                </div>                            
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if talk_is_dead %}
                    <div class="chat_frame_opendata">
                        <div class="chat_text_heading">●Public information</div>
                        <div class="chat_frame_userdata">
                            <div class="chat_frame_info">
                                <div class="chat_item_name">Username:</div>
                                <div class="chat_info_name">{{sending_user}}</div>
                            </div>
                            <div class="chat_frame_info">
                                <div class="chat_item_age">Age:</div>
                                <div class="chat_info_age">{{user_info.age}}</div>
                            </div>
                            <div class="chat_frame_info">
                                <div class="chat_item_nationality">Country:</div>
                                <div class="chat_info_nationality">{{user_info.country}}</div>
                            </div>
                            <div class="chat_frame_info_introduction">
                                <div class="chat_item_introduction">Introduction:</div>
                                <div class="chat_info_introduction">
                                    <div class="grad-wrap">
                                        <input id="trigger1" class="grad-trigger" type="checkbox">
                                        <div class="grad-item">{{user_info.introduction}}</div>
                                        <div class="chat_positon_infobutton">
                                            <label class="grad-btn" for="trigger1">Click to read more</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat_frame_button">
                        {% if Exist_favorites == False %}
                            <a type="submit" class="chat_button_opendata" href="{% url 'postapp:final_favorite_add' talk_id=detail_talk_id %}">Favorite</a>
                            <a class="chat_button_opendata" href="{% url 'postapp:final_favorite_delete' talk_id=detail_talk_id %}">Delete</a>
                            {% else %}
                            <a class="chat_button_opendata" href="{% url 'postapp:confirmed_add' talk_id=detail_talk_id %}">Home</a>
                        {% endif %}
                        </div>
                        <div class="chat_text_caution">Cannot send message</div>
                    </div>
                {% endif %}
                <div id="chat_frame_bottom"></div>
            </div>
            {% if not talk_is_dead %}
                <form method="POST" class="chat_frame_form" id="scroll">
                    {% csrf_token %}
                    {{ form.id.as_hidden }}
                    {{ form.sending_user.as_hidden }}
                    {{ form.content }}
                    {{ form.talk.as_hidden}}
                    {{ form.created_at.as_hidden }}
                    <button type="submit" class="chat_frame_send-button">
                        <i class="fas fa-paper-plane fa-lg"></i>
                    </button>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}