{% extends "base.html" %}
{% block content %}
<p>トーク一覧</p>

{% for talk in my_talks %}
<div>
    {% if talk.sending_user == user %}
        {% if talk.exist_reply == True %}
            <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
                <!-- トークの相手の名前を表示 -->
                {{talk.receiving_user}}
            </a>
        {% else %}
            <a>
                <!-- トークの相手の名前を表示するが返信不可 -->
                {{talk.receiving_user}}:返信待ち
            </a>
        {% endif %}
    {% else %}
        <a href="{% url 'postapp:talk_detail' talk_id=talk.id %}">
            <!-- 相手からの送信なので名前を表示 -->
            {{talk.sending_user}}
        </a>
    {% endif %}
        <span> : {{talk.created_at}}</span>
</div>
{% endfor %}



<p class="realtime"></p>

<script>

    function clock() {
        let nowTime = new Date();
        let nowHour = nowTime.getHours() - 9;
        let nowMinute = nowTime.getMinutes();
        let nowSecond = nowTime.getSeconds();
        let msg = "現在時刻:" + nowHour + ":" + nowMinute + ":" + nowSecond;
        document.querySelector(".realtime").innerHTML = msg;
    };

    clock();

    setInterval(clock, 1000)

</script>

{% endblock %}