.arrow_box{
    position:relative;
    width:400px;
    height:３0px;
    background:#7AFF8D;
    padding:10px;
    text-align:center;
    color:#000000;
    font-size:20px;
    font-weight:bold;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.arrow_box:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(122, 255, 141, 0);
    border-top-width:11px;
    border-bottom-width:11px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -11px;
    border-left-color:#7AFF8D;
    left:100%;
    top:68%;
}
