.all_account{
	width:100%;
	height:100%;
	display:flexbox;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.name_account,.email_account,.password_account{
	font-weight: bold;
}

.input{
    float: left;
    width: 100%;
    max-width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1.0rem;
    background: darken(#f9f9f96b, 10%);
    color: darken(#f7f7f738, 50%);
	border: solid 3px #333;
	outline:none;
}
.buttonlist{
	display:flex;
	border:solid #FFF;
	
}
.submit{
	/* width: 100%;
	background-color: #fd680d;
	color: #fff;
	padding: 15px;
	border:0;
	border-radius:20px;
	box-shadow: 0 0 8px rgba(0,0,30) */
	/* display: inline-block; */
	width: 50%;
	height: 50px;
	/* text-align:center; */
	background-color: white;
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	/* border-bottom: 4px solid #d37800; */
	margin:20px auto;
	border: 0px;
	outline: none;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
}
.submit:hover{
	font-size: 21px;
	font-weight: bold;
	background-color: darkgray;
	outline: none;
	cursor:pointer;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
}