/* 全体の枠 */

.detail_detail{
    display:flex;
    flex-flow:column;
    background-color:white;
    width:100%;
    height:100%;
}
.all_detail {
	padding:1em;
	overflow:auto;
    display:flex;
	flex-flow: column;
	width: 100%;
	height:85vh;
}
/* 左のトークボックス */

.list0_detail .you_message_detail p:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:0%;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid lightgray;
}
.list0_detail .you_message_detail p { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:lightgray;
	border-radius:5px;
	padding:10px;
	margin:0 0 0 10px;
}
/* 右のトークボックス */

.list1_detail .I_message_detail {
	float:right; /* 右のふきだしは全体的に右寄せ */
	margin-top:1em;
	max-width: 75%;
	display:flex;
    align-items: center;
    justify-content: right;
}
.list1_detail .I_message_detail p:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:0%;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid orange;
}
.list1_detail .I_message_detail p { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:orange;
	border-radius:5px;
	padding:10px;
	margin:0 10px 0 0;
}


.list2_detail{
    display:flex;
    align-items: center;
	vertical-align: middle;
    margin-top: auto;
    position: absolute;/*←絶対位置*/
    bottom: 0;/* 下に固定*/ 
    width:100%;
    height:15vh;
	padding:10px

}
.list0_detail{
	display:flex;
	align-items:flex-start;
	justify-content: left;
	width: calc(100% - 55px);
}

.list1_detail{
	display:flex;
	align-items:flex-start;
	justify-content: right;
}

.text1_detail {
	width: calc(100% - 50px);
	height: 45px;
	margin: 0.5rem 0;
	margin-right: 20px;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
	border:1px solid black;
	resize: none;
}

.button_go_detail{
    border-radius:50%;
    width: 50px;
    height:50px;
    background-color: #FFF;
    font-size:20px;
    font-weight: bold;
	border:1px solid black;
}
.button_go_detail:hover{
    background-color: orange;
}

.talks_message{
	color: black;
	font-weight: normal;
	font-size: 15px;
	/* max-width: 60%; */
	word-break: break-all;
	white-space: pre-wrap;
}


.talktime{
	display:flex;
	justify-content:center;
	color:gray;
	font-size: 11px;
}
.rounded-circle_detail{
	width:45px;
	height:45px;
	object-fit:cover;
	border-radius:50%
}
.I_message_detail{
	display:flex;
	align-items: flex-end;
}
.you_message_detail{
	display:flex;
	align-items: flex-end;
	padding-top: 15px;
}
.data_detail{
	display:flex;
	align-items: flex-end;
	padding-top: 15px;
	justify-content:center;
	color: gray;
	font-size: 12px;
}

.all_opendata{
	display:flex;
	flex-flow: column;
	justify-content: center;
	border:outset;
	margin:5px;
} 
.data_list{
	display:flex;
	width:50%;
    justify-content: flex-start;
	flex-flow: column;
	margin: auto;
}
.name_data,.age_data,.country_data,.intro_data{
	font-weight: bold;
}
.button_list_detail{
	display:flex;
}
.button_favorite_data{
	width: 100px;
	height: 50px;
	background-color: white;
	font-size: 20px;
	color: orange;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	margin:20px auto;
	outline: none;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
	border:solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_favorite_data:hover{
	font-weight: bold;
	background-color: rgb(232, 232, 232);
	outline: none;
	cursor:pointer;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
	text-decoration: none;
	color: orange;
}
.opendata_first{
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
	font-size: 20px;
}
.opendata_end{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size:18px;
}