@media screen and (min-width: 999px) {  
.menu_unit_button{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding-top: 5px;
    margin:20px auto;
}

.menu_unit_button:hover{
	font-size: 21px;
    font-weight: bold;
    background-color: rgb(232, 232, 232);
    outline: none;
    -webkit-tap-highlight-color:none;
    cursor:pointer;
    text-decoration: none;
    color: #000000;
    
}

.menu_font_ProjectName{
    height: 150px;
    font-size: 35px;
    font-weight: bold;
    font-family: Comic Sans MS;
    color: orange;
}
.menu_font_ProjectName:hover{
    text-decoration: none;
    color:orange;
}

#menu_shape_UserButton{
    border-radius: 30px;
    height: 100px;  
}


#menu_color_NewpostButton{
    background-color: orange;
}

#menu_color_NewpostButton:hover{
    background-color: darkorange;
}

#menu_color_SigninButton{
    background-color: orange;
}

#menu_color_SigninButton:hover{
    background-color: darkorange;
}

#menu_color_LoginButton{
    background-color: lemonchiffon;
}

#menu_color_LoginButton:hover{
    background-color:yellow;
}

.menu_font_MenuButton{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial Black;
    margin: 0;
}

#_menu_font_username{
    font-size: 15px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-key, .fa-home, .fa-cog, .fa-plus, .fa-sign-out-alt, .fa-user-plus, .fa-sign-in-alt{
    display:none
}

.fa-paper-plane{
    padding-right: 4px;
}

img.menu_shape_ProfPicture{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

}

@media screen and (max-width: 999px) {  
    .menu_unit_button{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: white;
        font-size: 20px;
        color: black;
        font-weight: bold;
        border-radius: 25px;
        margin:20px auto;
        border: 0px;
        padding-top: 10px;

    }
    .menu_unit_button:hover{
        font-size: 21px;
        font-weight: bold;
        background-color: rgb(232, 232, 232);
        outline: none;
        -webkit-tap-highlight-color:none;
        cursor:pointer;
        color: #000000;
    }
    
    #menu_shape_UserButton{
        border-radius: 25px;
        height: 50px; 
        padding-top: 5px;
    }
   
    #menu_color_NewpostButton, #menu_color_SigninButton{
        background-color: orange;
    }
    
    #menu_color_NewpostButton:hover, #menu_color_SigninButton:hover{
        background-color: darkorange;
    }
    
    #menu_color_LoginButton{
        background-color: lemonchiffon;
    }
    
    #menu_color_LoginButton:hover{
        background-color:yellow;
    }

    a > .menu_font_MenuButton{
        display:none;
        text-decoration: none;
    }


    .menu_font_ProjectName{
        display: none;
    }

    img.menu_shape_ProfPicture{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

 }