.signup_body_area{
	display:flex;
	align-items: center;
    justify-content: center;
	flex-flow: column;
}

.signup_frame_all{
	width: 100%;
	display:flex;
	align-items: center;
	flex-flow: column;
	padding:20px;
	margin: 0 auto;
	/* border: solid 3px #333; */
}

.signup_text_content{
	font-weight: bold;
	font-size:40px;
	padding:10px;
	color: orange;
}
.signup_frame_tab{
	width:100%;
	display:flex;
	align-items: center;
    justify-content: center;
	flex-flow: column;
}
.signup_text_name,.signup_text_email,.signup_text_password{
	font-weight: bold;
	font-size:20px;
	color: orange;
	text-align: center;
}

.signup_input_newform{
    float: left;
    width: 100%;
    max-width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background: darken(#f9f9f96b, 10%);
    color: darken(#f7f7f738, 50%);
	border: solid 1px lightgray;
	outline:none;
}

#signup_withdraw_frame{
	margin-top: 200px;
}

