.all{
    width:calc(100%-20px);
    height:100vh;
    display:flex;
    justify-content: flex-start;
    flex-flow: column;
    border-top: solid 1px lightgray;
}

.frame_table{
    display: flex;
    width: 100%;
    height: 90px;
    border-bottom: solid 1px lightgray;
}

.list0{
    background-color: #FFF;
    display: flex;
    width: calc(100% - 20px);
    height: 100%;
    
}

.unread_lamp{
    background-color: orange;
    width:20px;
    height:100%;
}

.read_lamp{
    background-color:transparent;
    width:20px;
    height:100%;
}

.list1{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100%;
}
.list2{
    display:flex;
    flex-flow: column;
    width: calc(100% - 250px);
    align-items: left;
    justify-content: left;
    height: 100%;
}
.list3{
    display:flex;
    align-items: right;
    justify-content: right;
    width: 150px;
    height: 100%;
    
}

.list_name{
    font-size:15px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}

.span_time{
    font-size:12px;
    color: gray;
    line-height: 100%;
}

.button_love{
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border:none;
    text-align: center;
}
.button_love:hover{
    -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}
.button_love2{
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border:none;
    text-align: center;
}
.button_love2:hover{
    -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}
.button_bye{
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border:none;
    align-items: center;
    padding-left: 12px;
    /* border-color: black; */
}
.button_bye:hover{
    -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}

.overflow{
    width:100%;
    height: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.overflow > a{
    text-decoration: none;
}

.button_love > .fas.fa-heart{
    text-decoration: none;
    color: red;
}

.button_love2 > .fas.fa-heart{
    text-decoration: none;
    color: black;
}

.td2{
    width: 45px;
    height: 45px;
    display: table-cell;
    vertical-align: bottom;
}

.td1{
    width: 100px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
}

.time{
    margin: 0;
}

p{
    margin: 0;
}

img.you_image{
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 50%;
}
