<!DOCTYPE html>
<html lang="en">
{% load static %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

{% if messages %}
	<div class="messages_ul">
		{% for message in messages %}
			<p class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</p>
		{% endfor %}
	</div>
{% endif %}

<link rel="stylesheet" href="{% static 'users/button.css' %}">
<link rel="stylesheet" href="{% static 'users/Login.css' %}">
<div class="login_body_area">
    <div class="login_area_all">
        <form method="post" action="{% url 'users:login' %}"class="login_area_whole">
            {% csrf_token %}
            <div class="login_area_namelist">
                <div class="login_font_username">Username / E-mail</div> 
                    {{ form.username }}
            </div>

            <div class="login_area_passlist">
                <div class="login_font_password">Password</div>
                    {{ form.password }} 
            </div>
            
            <div class="button_area_button">
                <button
                    class="button_button_next"
                    type="submit"
                    value="login"
                >
                Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>

        <div class="login_card_body">
            <a href="{% url 'users:user_create' %}" class="login_button_button">Signup</a>
            <a href="{% url 'users:password_reset' %}" class="login_button_button">PasswordReset</a>
            <a href="{% url 'users:reregistration' %}" class="login_button_button">Reregistration</a>
        </div>
    </div>
</div>
</html>