<!DOCTYPE html>
<html lang="en">
{% load static %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

{% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<p class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</p>
		{% endfor %}
	</ul>
{% endif %}

<link rel="stylesheet" href="{% static 'users/button.css' %}">
<link rel="stylesheet" href="{% static 'users/Login.css' %}">

<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}

    <!-- 
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    -->

    <div class="all_signin">
        <div class="namelist">
            <div class="name_account">Username / E-mail</div> 
                {{ form.username }}
                
        </div>

        <div class="passlist">
            <div class="password_account">Password</div>
                {{ form.password }} 
        </div>
        
        <div class="buttonlist">
            <!-- <input type="submit" value="login"> -->
            <button
                class="button_next"
                type="submit"
                value="login"
            >
            login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </div>
</form>

<div class="card-body">
    <a href="{% url 'users:user_create' %}" class="btn btn-success btn-lg btn-block">Signup</a>
    <a href="{% url 'users:password_reset' %}" class="btn btn-outline-info btn-lg btn-block">PasswordReset</a>
    <a href="{% url 'users:reregistration' %}" class="btn btn-success btn-lg btn-block">Reregistration</a>
</div>

</html>