{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<p class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</p>
		{% endfor %}
	</ul>
{% endif %}
<p>マイページです</p>
<img src="{{profile_image}}" width="100px" height="100px" class="rounded-circle" />
<p>{{user.email}}でログインしています。</p>

<li>
    <a class="btn btn-info" href="{% url 'users:email_change' %}">メールアドレスの変更</a>
</li>
<li>
    <a class="btn btn-success" href="{% url 'users:password_change'%}">パスワード変更</a>
</li>
<li>
    <a class="btn btn-success" href="{% url 'users:userinfo_edit' user.user_info.id %}">公開情報の編集</a>
</li>
<li>
    <a class="btn btn-success" href="{% url 'users:report' %}">通報</a>
</li>
<li>
    <a class="btn btn-warning" href="{% url 'users:withdrawal' %}">退会</a>
</li>

<li>ユーザーネームは{{user.username}}です。</li>
<li>国は{{user.user_info.nationality}}です。</li>
<li>is_activeは{{user.is_active}}です。</li>
<li>ログイン回数：{{user.user_info.count_login}}</li>
<li>今日の送信回数は：{{user.user_info.count_send_new_messages_in_a_day}}</li>


<li>通報された回数は{{user.reported.count}}回です。</li>

<li>通報した回数は{{user.reporting.count}}回です。</li>



<div class="card col-md-6">
    <div class="card-body">
        <a href="{% url 'postapp:talk_create' %}" class="btn btn-success btn-lg btn-block">新規投稿</a>
    </div>
    <div class="card-body">
        <a href="{% url 'postapp:talk_all' %}" class="btn btn-success btn-lg btn-block">トーク一覧</a>
    </div>
</div>

{% else %}
<p>ログインしていません。</p>
{% endif %}
{% endblock %}