{% extends 'base.html' %}

{% load tag_library %}

{% block content %}

<main>
    {% if messages %}
    <ul class="messages_ul">
        {% for message in messages %}
        {% if forloop.first %}
        <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                <button>
                type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
                </button>
                {{ message }}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="report_area_frame">
        <div class="report_text_content">Report</div>
        <form method="POST">
            {% csrf_token %}
            <div class="report_area_whole">
                <div class="report_area_item">
                    <div class="report_font_label">Target</div>
                    <div class="report_area_form">{{ report_target_user }}</div>
                </div>
                <div class="report_area_item">
                    <div class="report_font_label">Reason</div>
                    <div class="report_area_form">{{ form.reason }}</div>
                </div>
                <div class="report_area_item">
                    <div class="report_font_label">Content</div>
                    <div class="report_area_form">
                        {{ form.content }}
                    </div>
                </div>
                <div class="button_area_button">
                    <button class="button_button_next"　id="button_report" type="submit">report</button>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}