{% extends "base.html" %}
{% block content %}
<p>トップページです</p>
{% if user.is_authenticated %}
<p>{{user.email}}でログインしています。</p>
<a href="{% url 'users:profile'  user.pk %}" class="btn btn-success">マイページ</a>
<a href="{% url 'users:password_change'%}" class="btn btn-success">パスワード変更</a>
<a href="{% url 'users:logout' %}" class="btn btn-primary">ログアウト</a>

{% else %}
<a href="{% url 'users:login' %}" class="btn btn-success">ログイン</a>
<a href="{% url 'users:user_create' %}" class="btn btn-primary">新規登録</a>

{% endif %}
{% endblock %}