
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'postapp/menu.css' %}">
<link rel="stylesheet" href="{% static 'users/user_create.css' %}">
<link rel="stylesheet" href="{% static 'postapp/Signup.css' %}">

<body>
    <div class="container flexbox-container">
        <div class="signup_frame_all" id="signup_withdraw_frame" ></div>
            <div class="signup_text_email">
                <p>A confirmation Email has been sent to you. Your registration is not yet complete.</p>
                <p>Please click the link in the confirmation email to complete your registration.</p>
    
                <a class="navbar-brand" href="{% url 'users:top'%}" style="text-decoration: none;">
                    <div class="menu_font_ProjectName">SameS</div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>