{% extends 'base.html' %}

{% block content %}

<main>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="userinfo_area_whole">
            <div class="userinfo_image_space">
                <img id="profile_image-preview"class="userinfo_image_preview">
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">image</div>
                <div class="userinfo_width_form">
                    {{ form.profile_image }}
                </div>
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">Nationally</div>
                <div class="userinfo_width_form">{{ form.nationality }}</div>
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">Age</div>
                <div class="userinfo_width_form">{{ form.age }}</div>
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">Gender</div>
                <div class="userinfo_width_form">
                    <div class="userinfo_area_slider">
                        <div class="userinfo_tag_gender">F</div>
                        {{ form.gender }}
                        <div class="userinfo_tag_gender">M</div>
                    </div>
                </div>
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">Gender of love</div>
                <div class="userinfo_width_form">
                    <div class="userinfo_area_slider">
                        <div class="userinfo_tag_gender">F</div>
                        {{ form.gender_of_love }}
                        <div class="userinfo_tag_gender">M</div>
                    </div>
                </div>
            </div>
            <div class="userinfo_area_item">
                <div class="userinfo_font_label">Introduction</div>
                <div class="userinfo_width_form">
                    {{ form.introduction }}
                </div>
            </div>
            <div class="button_area_button">
                <button class="button_button_next" type="submit">Change</button>
            </div>
        </div>
        {{ form.media }}
    </form>
</main>

{% endblock %}