.button_area_button{
	display:flex;
	border:solid #FFF;
	
}
.button_button_back,.button_button_next{
	width: 120px;
	height: 46px;
	background-color: white;
	font-size: 16px;
	color: orange;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	margin:20px auto;
	outline: none;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
	border:solid 1px lightgray;
	text-align: center;
	padding : auto;
	line-height: 40px;
}
.button_button_back:hover{
	font-weight: bold;
	background-color:rgb(242, 242, 242);
	outline: none;
	cursor:pointer;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
	text-decoration: none;
	color: orange;
}
.button_button_next:hover{
	font-weight: bold;
	background-color: rgb(242, 242, 242);
	outline: none;
	cursor:pointer;
	-webkit-tap-highlight-color:none;
	cursor:pointer;
	text-decoration: none;
	color: orange;
}

.button_button_withdrawal{
	display: inline-block;
    width: 170px;
    height: 46px;
    color: white;
    background-color: orange;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    margin:50px auto;
	text-align: center;
}

.button_button_withdrawal:hover{
    color: black;
    outline: none;
    -webkit-tap-highlight-color:none;
    cursor:pointer;
	text-decoration: none;
	background-color: orange;
}

#button_button_EmailChange{
	width: 170px;
}

#button_button_DeleteAccount{
	width: 170px;
	color: lightgray;
}