{% extends "base.html" %}
{% block content %}
<p>トーク一覧</p>
<table class="table">
    <tbody>
        <p>

        

            {% for talks in user.tid.all %}
                
                <a href="{% url 'postapp:talk_detail' talk_id=talks.talk_id %}">{{talks}}{{talks.created_at}}</a><br>
                
            {% endfor %}
        </p>
        <p>
            {% for talks in user.fid.all %}
                
                <a href="{% url 'postapp:talk_detail' talk_id=talks.talk_id %}">{{talks}}{{talks.created_at}}</a><br>
                
            {% endfor %}
        </p>
    </tbody>
</table>

<body>

    <p class="realtime"></p>

    <script>

        function clock(){
            let nowTime = new Date();
            let nowHour = nowTime.getHours() - 9;
            let nowMinute = nowTime.getMinutes();
            let nowSecond = nowTime.getSeconds();
            let msg = "現在時刻:" + nowHour + ":" + nowMinute + ":" + nowSecond;
            document.querySelector(".realtime").innerHTML = msg;
        };

        clock();

        setInterval(clock, 1000)

    </script>

</body>
{% endblock %}
