{% extends "base.html" %}
{% block content %}

<p>トーク一覧</p>
    <tbody>
        <p>

            {% for message in message.all %}
                
                {% if message.from_user_id == user.id %}

                    <h2 style="text-align:right">
                        <div class='arrow_box'>
                            {{message.content}}<br>
                        </div>
                    </h2>

                {% else %}

                    <h2 style="text-align:left">
                        {{message.content}}<br>
                    </h2>

                {% endif %}
                
            {% endfor %}

            <form method="POST">
                {% csrf_token %}
                {{ form.message_id.as_hidden }}
                {{ form.from_user_id.as_hidden }}
                {{ form.content }}
                {{ form.talk_id.as_hidden }}
                {{ form.created_at.as_hidden }}
                <button type="submit">送信</button>
            </form>

            {% if Exist_favorites == False %}
                
                <a href="{% url 'postapp:talk_favorite_add' talk_id=talk_id %}">Add Favorite</a><br>
            
            {% else %}

                <a href="{% url 'postapp:talk_favorite_delete' talk_id=talk_id %}">Delete Favorite</a><br>

            {% endif %}
            {{talk_id}}
        </p>
    </tbody>
{% endblock %}
